[Unit]
Description=React Test Deploy Service
After=network.target

[Service]
Type=simple
User=atulitha
WorkingDirectory=/home/atulitha/Desktop/github/react-test
ExecStartPre=/home/atulitha/Desktop/github/react-test/deploy.sh
ExecStart=/usr/bin/pm2-runtime start serve --name react-test-app \
	--output /home/atulitha/Desktop/github/react-test/logs/react-test-app-out.log \
	--error /home/atulitha/Desktop/github/react-test/logs/react-test-app-error.log \
	-- -s build --listen 5000
Restart=on-failure

[Install]
WantedBy=multi-user.target
